<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>value</key>
		<string>0</string>
		<key>imageName</key>
		<string>beauty_origin</string>
		<key>name</key>
		<string>原图</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>30</string>
		<key>imageName</key>
		<string>face_bigEye</string>
		<key>name</key>
		<string>大眼</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>value</key>
		<string>30</string>
		<key>imageName</key>
		<string>face_thinFace</string>
		<key>name</key>
		<string>瘦脸</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>value</key>
		<string>50</string>
		<key>imageName</key>
		<string>face_mouth</string>
		<key>name</key>
		<string>嘴型</string>
	</dict>
	<dict>
		<key>type</key>
		<string>4</string>
		<key>value</key>
		<string>50</string>
		<key>imageName</key>
		<string>face_thinNose</string>
		<key>name</key>
		<string>瘦鼻</string>
	</dict>
	<dict>
		<key>type</key>
		<string>5</string>
		<key>value</key>
		<string>50</string>
		<key>imageName</key>
		<string>face_chin</string>
		<key>name</key>
		<string>下巴</string>
	</dict>
	<dict>
		<key>type</key>
		<string>6</string>
		<key>value</key>
		<string>50</string>
		<key>imageName</key>
		<string>face_forehead</string>
		<key>name</key>
		<string>额头</string>
	</dict>
	<dict>
		<key>type</key>
		<string>7</string>
		<key>value</key>
		<string>0</string>
		<key>imageName</key>
		<string>face_eyebrow</string>
		<key>name</key>
		<string>眉毛</string>
	</dict>
	<dict>
		<key>type</key>
		<string>8</string>
		<key>value</key>
		<string>0</string>
		<key>imageName</key>
		<string>face_eyeAlea</string>
		<key>name</key>
		<string>眼角</string>
	</dict>
	<dict>
		<key>type</key>
		<string>9</string>
		<key>value</key>
		<string>0</string>
		<key>imageName</key>
		<string>face_eyeDistance</string>
		<key>name</key>
		<string>眼距</string>
	</dict>
	<dict>
		<key>type</key>
		<string>10</string>
		<key>value</key>
		<string>0</string>
		<key>imageName</key>
		<string>face_canthus</string>
		<key>name</key>
		<string>开眼角</string>
	</dict>
	<dict>
		<key>type</key>
		<string>11</string>
		<key>value</key>
		<string>0</string>
		<key>imageName</key>
		<string>face_shaveFace</string>
		<key>name</key>
		<string>削脸</string>
	</dict>
	<dict>
		<key>type</key>
		<string>12</string>
		<key>value</key>
		<string>0</string>
		<key>imageName</key>
		<string>face_longnose</string>
		<key>name</key>
		<string>长鼻</string>
	</dict>
</array>
</plist>
